/* Variables */
:root {
    --first-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
}
/* Global Rules */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

/* Small Screens */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }                
}

/* Medium Screens */

@media (min-width: 992px) {
    .container {
        width: 970px;
    } 
}

/* Large Screens */

@media (min-width: 1200px) {
    .container {
        width:1170px;
    } 
}

header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

/* Header */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}

header .container::before {
    content: '';
    position: absolute;
    background-color: #2a2a2a;
    height: 3px;
    width: calc(100% - 30px);
    left: 15px;
    bottom: 0;
}


header nav {
    flex: 1;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

header nav .menu {
    color: white;
    font-size: 22px ;
    display: none;
}

header .container nav ul {
    display: flex; 
}

header .container nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    padding: 40px 10px;
    position: relative;
    z-index: 2;
}

header .container nav ul .active {
    color: var(--first-color);
    border-bottom: 3px var(--first-color) solid;

}

header .container nav ul a:hover {
    color: var(--first-color);
    border-bottom: 3px var(--first-color) solid;
}

header nav .form {
    position: relative;
    height: 40px;
    width: 30px;
    margin-left: 50px;
    border-left: white solid 1px;
    
}

header nav .form i {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

@media (max-width:767px) {
    header nav .menu {
        display: initial;
    }

    header .container nav ul {
        display: none;
    }

    header .container nav .menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #000000cf;
    }

    header .container nav .menu:hover + ul{
        padding: 15px 15px !important;
    }
}
/* Landing */

.landing {
    height: 100vh;
    background-image: url('../assets/landing.jpg');
    background-size: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.landing .text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background-color: var(--transparent-color);
    width: 50%;
    padding: 50px;
}

@media (max-width: 767px) {
 .landing .text {
    width: 100%;
 }   
}

.landing .text .content h2 {
    color: white;
    font-weight: normal;
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing .text .content p {
    color: white;
    line-height: 2;
    font-size: 14px;
}

.landing::before {
    font: var(--fa-font-solid);
    content: "\f104";
    font-size: 30px;
    color: rgb(255, 247, 247);
    top: 50%;
    position: absolute;
    left: 20px;
    z-index: 2;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.landing::after {
    font: var(--fa-font-solid);
    content: "\f105";
    font-size: 30px;
    color: rgb(255, 247, 247);
    top: 50%;
    position: absolute;
    right: 20px;
    z-index: 2;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.landing .pollets {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.landing .pollets span {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; 
    border: solid white 1.5px;
}

.landing .pollets span:nth-child(2) {
    background-color: var(--first-color);
    border: transparent;
}

/* Head Component */

.heading {
    text-align: center;
}

.heading h2 {
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 70px;
    position: relative;
    text-transform: uppercase;
}

.heading h2::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: black;
    left: 50%;
    transform: translate(-50%);
    bottom: -30px;
}

.heading h2::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%);
    bottom: -38px;
    background-color: white;
}

.heading p {
    color: #777;
    width: 550px;
    margin: auto;
    margin-bottom: 100px;
    max-width: 100%;
    line-height: 2;
}

/* Service */

.services .container {
    padding: 100px 0;
}

.services .serv-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px 50px;
}

.serv-box .box {
    padding: 20px;
    display: flex;
}

@media (max-width: 767px) {
    .services .serv-box .box {
        flex-direction: column;
        text-align: center;
    }
    
}

.serv-box .box i {
    flex-basis: 100px;
    font-size: 40px;
}

.serv-box .box .text {
    flex: 1;
}

.serv-box .box .text h3 {
    color: var(--first-color);
    margin-bottom: 30px;
}

.serv-box .box .text p {
    color: #777;
    line-height: 2;
}

/* Desgin */

.desgin {
    padding: 100px 0;
    height: 600px;
    background-image: url("../assets/design-features.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.desgin::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.desgin .image,
.desgin .text {
    position: relative;
    z-index: 2;
    flex: 1;
}

.desgin .image {
    text-align: center;
    
}

.desgin .image img {
    position: relative;
    bottom: -150px;
}

.desgin .text {
    color: white;
    padding: 30px;
    background-color: var(--transparent-color);
}

.desgin .text h2 {
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.desgin .text li {
    color: white;
    padding: 15px 0px;

}

.desgin .text li::before {
    font: var(--fa-font-solid);
    content: '\f390';
    margin-right: 15px;

}

@media (max-width: 767px ) {
    .desgin .image {
        display: none;
    }
}

/* portfolio */

.portfolio {
    padding: 100px 0;

}

.portfolio .shuffle ul {
    display: flex;
    justify-content: center;
}

.portfolio .shuffle ul li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: black;
}

.portfolio .shuffle ul li:nth-child(1) {
    background-color: #19c8fa;
}

.portfolio .shuffle ul li:first-of-type a  {
    color: white;
}

.portfolio .image-cont {
    display: flex;
    margin-top: 60px;
    flex-wrap: wrap;
}

.portfolio .image-cont .box {
    position: relative;
    overflow: hidden;
}

.portfolio .image-cont .box:hover .caption {
    bottom: 0;
}

.portfolio .image-cont .box:hover img {
    transform: rotate(3deg) scale(1.2);
    -webkit-transform: rotate(3deg) scale(1.2);
    -moz-transform: rotate(3deg) scale(1.2);
    -ms-transform: rotate(3deg) scale(1.2);
    -o-transform: rotate(3deg) scale(1.2);
}

@media (min-width: 768px) {
    .portfolio .image-cont .box {
        flex-basis: 50%;
    }
    
}

@media (min-width: 1199px) {
    .portfolio .image-cont .box {
        flex-basis: 25%;
    }
    
}

.portfolio .image-cont img {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.portfolio .image-cont .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    width: 100%;
    bottom: -100%;
    transition: 0.3s;
    background-color: white;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.portfolio .image-cont .box .caption h4 {
    font-weight: bold;
    margin-bottom: 10px
}
.portfolio .image-cont .box .caption p {
    color: var(--first-color);   
}

.portfolio .more {
    display: block;
    background-color: var(--first-color);
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    width: fit-content;
    margin: 30px auto;
    text-transform: uppercase;
}

/* Video */
.video {
    position: relative;
}

.video::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;   
    background-color: rgba(0, 0, 0, 0.411);
}

.video video {
    width: 100%;
}

.video .text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    text-align: center;
}

.video .text  h2 {
    font-weight: normal;
    margin: 0 0 30px;
    text-transform: uppercase;
}

.video .text p {
    margin:0 0 30px 0 ;   
}

.video .text a {
    display: block;
    padding: 10px 20px;
    margin: auto;
    background-color: black;
    width: fit-content;
    text-transform: uppercase;
    text-decoration: none;
    color: white;

}

/* About */
.about {
    padding: 100px 0 0 0;
    height: 600px;
    overflow: hidden;
    text-align: center;
}

.about img {
    max-width: 100%;
}

/* Statew */

.state {
    position: relative;
    padding: 100px 0;
    background-image: url('../assets/stats.png');
    text-align: center;
}

.state::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.61);
}

.state .container {
    position: relative;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.state .container .box {
    background-color: var(--transparent-color);
    text-align: center;
    padding: 50px;
    flex-basis: 100%;
}

@media (min-width: 768px) {
    .state .container .box {
        flex-basis: 50%;
    }
    
}

@media (min-width: 1199px) {
    .state .container .box {
        flex-basis: 25%;
    }
    
}

.state .container .box i {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
}

.state .container .box .num {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}


.state .container .box .title {
    font-size: 14px;
}

/* Skills */

.skills {
    padding: 100px 0;

}

.skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
 
.skills .container .test .head {
    text-align: center;
    margin-bottom: 60PX;
    }

.skills .container .test .head h3 {
    font-weight: normal;
    margin-bottom: 30px;
    text-transform: uppercase;
    }

.skills .container .test .head p {
    font-size: 14px;
    color: #777;
    line-height: 2;
    }   

@media (min-width: 992px) {
    .skills .container > div {
        flex-basis: 45%;
    }
}

.skills .container .test .box {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.skills .container .test .box img {
    width: 100px;
    margin-right: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media (max-width: 767px) {
    .skills .container .test .box {
        flex-direction: column;
        text-align: center;
    }
    
    .skills .container .test .box img {
        margin: 0 auto 30px;
    }
}

.skills .container .test .box div {
    line-height: 1.8;
    border-bottom: solid 1px #777;
}

.skills .container .test .box div p {
    text-align: right;
    color: #777;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 10px;
}

.skills .container .test ul {
    display: flex;
    justify-content: center;
    margin: 50px 0;

}

.skills .container .test ul li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 11px;
    border: 1px solid black;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.skills .container .test ul li:nth-child(2) {
    background-color: var(--first-color);
    border: none;
}

.skills .container .skill .head {
    text-align: center;
    margin-bottom: 60px;
}

.skills .container .skill .head h3 {
    font-weight: normal;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.skills .container .skill .head p {
    font-size: 14px;
    color: #777;
    line-height: 2;
}

.skills .container .skill .box {
    margin-bottom: 50px;
}

.skills .container .skill .box h4 {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: normal;
}

.skills .container .skill .box div {
    background-color: #dededc;
    height: 30px;
}

.skills .container .skill .box div span {
    background-color: var(--first-color);
    height: 100%;
    display: block;
    position: relative;
}

.skills .container .skill .box div span::before {
    content: attr(data-progress);
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 6px;
    position: absolute;
    top: -40px;
    right: 10px;
}

.skills .container .skill .box div span::after {
    content: '';
    position: absolute;
    border: 10px solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: black;
    border-bottom-color: transparent;
    top: -12px;
    right: 20px;
}

/* Qoute */

.quote {
    padding: 100px 0;
    background-image: url('../assets/quote.jpg');
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}
.quote::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.74);
}
.quote .container {
    position: relative;
    color: white;
}

.quote q {
    display: block;
    font-size: 30px;
    margin-bottom: 20px;
}

.quote q::before {
    font: var(--fa-font-solid);
    content: '\f10d';
    font-size: 25px;
}

.quote q::after {
    font: var(--fa-font-solid);
    content: '\f10e';
    font-size: 25px;
}

/* Price */

.price {
    padding: 100px 0;

}

.price .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.price .plans .plan {
    text-align: center;
}

.price .plans .plan .head {
    padding: 40px 20px;
    border-top: 1px solid var(--first-color);
    border-bottom: 1px solid var(--first-color);
}

.price .plans .plan h3 {
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.price .plans .plan span {
    font-size: 60px;
    font-weight: bold;
    position: relative;
}

.price .plans .plan span::before {
    content: '$';
    font-weight: normal;
    font-size: 25px;
    position: absolute;
    top: -10px;
    left: -35px;
}

.price .plans .plan span::after {
    content: "/MO";
    font-weight: bold;
    font-size: 22px;
    position: absolute;
    bottom: -10px;
    right: -70px;
}

.price .plans .plan ul {
    border-bottom: 1px solid var(--first-color);
}

.price .plans .plan ul li{
    padding: 20px;
    width: 180px;
    margin: auto;
}

.price .plans .plan ul li:not(:last-child) {
    padding: 25px;
    min-width: 200px;
    margin: auto;
    border-bottom: 1px solid var(--first-color);
} 

.price .plans .plan .button a {
    display: block;
    padding: 20px 30px;
    text-decoration: none;
    border: 1px solid var(--first-color);
    width: fit-content;
    color: black;
    margin: 30px auto;
}

.price .contact {
    text-align: center;
    margin-top: 50px;
}

.price .contact h3 {
    font-weight: normal;
    margin-bottom: 30px;
}

.price .contact a {
    display: block;
    padding: 20px 30px;
    color: white;
    background-color: var(--first-color);
    width: fit-content;
    text-decoration: none;
    margin: auto;
}

/* Subscribe */

.sub {
    padding: 100px 0;
    background-image: url('../assets/subscribe.jpg');
    background-size: cover;
    position: relative;
    color: white;
}

.sub::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.445);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.sub .container {
    position: relative;
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .sub .container {
        flex-direction: column;
    }
}

.sub form {
    display: flex;
    width: 500px;
    max-width: 100%;
    position: relative;
}

.sub form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    left: 25px;
}

.sub form input[type="email"] {
    position: relative;
    background: none;
    border: 1px solid white;
    border-right: none;
    padding: 20px 20px 20px 60px;
    width: calc(100% - 130px);
    caret-color: var(--first-color);
}

.sub form input[type=submit] {
    width: 130px;
    padding: 20px;
    border: 1px solid white;
    border-left: none;
    background-color: var(--first-color);

}

.sub form ::placeholder {
    color: white;
}

.sub form input[type="email"]:focus,
.sub form input[type=submit]:focus {
    outline: none;
}

.sub p {
    margin-left: 30px;
    line-height: 2;
}

@media (max-width: 991px) {
    .sub p {
        margin: 30px 0 0 0;
    }
}

/* contact */

.contact {
    padding: 100px 0;
}

.contact .container .contant {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .contact .contant {
        flex-direction: column;
    }
}

.contact form {
    flex-basis: 70%;
}

.contact form .input {
    display: block;
    padding: 20px;
    border: 1px solid #CCC;
    margin-bottom: 30px;
    width: 100%;
}

.contact form :focus {
    outline: none;
}

.contact form textarea {
    height: 200px;
}

.contact form input[type=submit] {
    padding: 20px 30px;
    color: white;
    text-align: left;
    background-color: var(--first-color);
    border: 0;
    display: block;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
}

.contact .contant .info {
    flex-basis: 25%;
}

@media (max-width: 767px) {
    .contact .contant .info {
        order: -1;
        text-align: center;
    }
}

.contact .contant .info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 18px;
}

.contact .contant .info span {
    display: block;
    color: #777;
    margin-bottom: 10px;

}

.contact .contant .info h4:last-of-type {
    margin-top: 90px;
}

@media (max-width: 767px) {
    .contact .contant .info h4:last-of-type {
        margin-top: 50px;
    }
}

.contact .contant .info address {
    line-height: 2;
    color: #777;
}

@media (max-width: 767px) {
    .contact .contant .info address {
        margin-bottom: 30px;
    }
}

/* Footer */

footer {
    padding: 50px 0;
    background-image: url("../assets/subscribe.jpg");
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}

footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.432);
}

footer .container {
    position: relative;
}

footer img {
    margin: 0 0 20px 0;
}

footer p:not(.copyright) {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px  solid white;
    font-size: 22px;
    color: white;
    width: fit-content;
    margin: 20px auto;
}

footer .icons {

}
footer .icons i {
    padding: 10px 15px ;
}

footer .copyright {
    margin-top: 60px;
}

footer span {
    font-weight: bold;
    color: var(--first-color);
}